<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Register Administrator</h1>
            </div>
            <h2 class="word">
                <form action="{{ url_for('admin_register') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/><br><br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email" class="textbox" required/><br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/><br><br>
                    <input type="submit" class="btn" value="Sign Up"><br>
                </form>
            </h2>
            <p class="bottom">Already have an  admin account? <a class="bottom" href="{{url_for('admin_login')}}"> Sign In here</a></p>
        </div>
    </div>
</body>
</html>
